@{
    ViewBag.Title = "Home Page";

    int bsCtr = 1;
}
@using BookStore.Models
@model List<book>
<!-- home section-->

<section class="home" id="home">
    <div class="row">
        <div class="content">
            <h3>'İyi kitaplar okumak, geçmiş yüzyılların en iyi insanlarıyla sohbet etmek gibidir.'</h3><br />- Descartes
            <p>En güzel sohbetler için aradığınız tüm kitaplar burada.</p>
        </div>
        <div class="swiper books-slider">
            <div class="swiper-wrapper">
                <a href="#arrivals" class="swiper-slide"><img src="~/bsfront/image/book-8.png" alt=""></a>
            </div>
            <img src="/bsfront/image/stand.png" class="stand" alt="">
        </div>
    </div>

</section>

<section class="arrivals" id="arrivals">
    <h1 class="heading"><span>Kitap Listesi(@Model.Count)</span></h1>
    <div class="swiper arrivals-slider">
        <div class="row">
            @foreach (book item in Model)
            {
                <div class="col-md-3">
                    <div class="card">
                        @if (ViewBag.Filter == "BS")
                        {
                            <div class="card-header">
                                En çok satan sıralaması = @bsCtr
                            </div>
                            bsCtr++;
                        }
                        else if (ViewBag.Filter == "NA")
                        {
                            <div class="card-header">
                                @Convert.ToDateTime(item.bDate).ToLongDateString() Tarihinde yayımlandı
                            </div>
                        }
                        <img src="@item.bImage" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">@item.bName</h5>
                            <p class="card-text">
                                @if (item.detail != null)
                                {
                                    if (item.detail.Length >= 150)
                                    {
                                        @item.detail.Substring(0, 150).ToString()@Html.ActionLink("....", "Detail", "Book", new { isbn = item.isbn }, null)
                                    }
                                    else
                                    {
                                        @item.detail
                                    }
                                }

                            </p>
                            <div class="row">
                                <div class="col-md-6">
                                    <a href="/Book/Detail?isbn=@item.isbn" class="btn btn-primary">İncele</a>

                                </div>
                                <div class="col-md-6" align="right">
                                    <strong>@item.price TL</strong>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<!-- /arrivals-->