
@{
    ViewBag.Title = "Kitaplar";
    Layout = "~/Views/Shared/_Layout - Copy.cshtml";
}
@using BookStore.Models
@model book
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Kitaplar</h1>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<section class="content">
    <div class="container-fluid">
        <table class="table table-bordered">
            <tr>
                <th>Resim</th>
                <th>Kitap adı</th>
                <th>Yazar</th>
                <th>Tür</th>
                <th>Yayınevi</th>
                <th>Yayın Tarihi</th>
                <th>Fiyat</th>
                <th>Stok</th>
                <th>Satış sayısı</th>
                <th>İşlem</th>
            </tr>
            @foreach (book item in ViewBag.Kitaplar)
            {
                <tr>
                    <td><img src="@item.bImage" alt="..." style="width:15%;"></td>
                    <td>
                        <a href="/Book/Detail?isbn=@item.isbn" target="_blank">
                            @item.bName
                        </a>
                    </td>
                    <td>@item.author1.aName</td>
                    <td>@item.genre1.gName</td>
                    <td>@item.publisher1.pName</td>
                    <td>@Convert.ToDateTime(item.bDate).ToLongDateString()</td>
                    <td>@item.price TL</td>
                    <td>@item.stock</td>
                    <td>@item.bodyCount</td>
                    <td>
                        <span class="badge alert-warning">
                            @Html.ActionLink("Düzenle", "Update", "Admin", new { op = 2, id = item.isbn }, null)
                        </span>
                        <span class="badge alert-danger">
                            <a href="#" class="tdrSil" data-tdrid="@item.isbn">Sil</a>
                        </span>
                    </td>
                </tr>
            }
        </table>
    </div>
</section>
<hr />
<section class="content">
    <div class="card">
        <div class="card-header">
            <h3 class="title">Kitap Ekle</h3>
        </div>
        <div class="card-body" align="center">
            <form action="/Admin/EkleKitap" method="post" role="form" onsubmit="subFr()">
                @if (Model != null)
                {
                    <input type="hidden" name="isbn" value="@Model.isbn" />
                }
                <div align="center" class="form-group col-md-6">
                    <label>Ad</label>
                    @if (Model.bName == null)
                    {
                        <input value="" class="form-control" type="text" name="bName" maxlength="50" placeholder="Kitap adı" required="" style="border-block-color:red" />
                    }
                    else
                    {
                        <input value="@Model.bName" class="form-control" type="text" name="bName" maxlength="50" placeholder="Kitap adı" required="" style="border-block-color:red" />
                    }
                    <div class="clearfix"> </div>
                </div>
                <br />
                <div class="row">
                    <div class="form-group col-md-4" align="right">
                        <label>Yazar</label> <br />
                        @Html.DropDownList("Yazarlar")
                    </div>
                    <div class="form-group col-md-4">
                        <label>Kategori</label> <br />
                        @Html.DropDownList("Kategoriler")
                    </div>
                    <div class="form-group col-md-4" align="left">
                        <label>Yayınevi</label> <br />
                        @Html.DropDownList("Yayinevleri")
                    </div>
                </div>
                <br />
                <div align="center" class="form-group col-md-6">
                    <label>Açıklama</label>
                    @if (Model.detail == null)
                    {
                        <input value="" class="form-control" type="text" name="detail" maxlength="2500" placeholder="Açıklama" />
                    }
                    else
                    {
                        <input value="@Model.detail" class="form-control" type="text" name="detail" maxlength="2500" placeholder="Açıklama" />
                    }
                    <div class="clearfix"> </div>
                </div>
                <div align="center" class="form-group col-md-6">
                    <label>Resim link</label>
                    @if (Model.bImage == null)
                    {
                        <input value="" class="form-control" type="text" name="bImage" maxlength="100" placeholder="Resim link" />
                    }
                    else
                    {
                        <input value="@Model.bImage" class="form-control" type="text" name="bImage" maxlength="100" placeholder="Resim link" />
                    }
                    <div class="clearfix"> </div>
                </div>
                <div align="center" class="form-group col-md-6">
                    <label>Yayınlanma tarihi</label>
                    @if (Model.bDate == null)
                    {
                        <input value="" class="form-control" type="date" name="bDate" maxlength="100" required="" style="border-block-color:red"  />
                    }
                    else
                    {
                        <input value="@Model.bDate" class="form-control" type="date" name="bDate" maxlength="100" required="" style="border-block-color:red"  />
                    }
                    <div class="clearfix"> </div>
                </div>
                <div align="center" class="form-group col-md-6">
                    <label>Fiyat</label>
                    @if (Model.price == null)
                    {
                        <input value="" class="form-control" type="number" min="1" step="0.01" name="price" maxlength="100" placeholder="Fiyat" required="" style="border-block-color:red"  />
                    }
                    else
                    {
                        <input value="@Model.price" class="form-control" type="number" min="1" step="0.01" name="price" maxlength="100" placeholder="Fiyat" required="" style="border-block-color:red"  />
                    }
                    <div class="clearfix"> </div>
                </div>
                <div align="center" class="form-group col-md-6">
                    <label>Stok</label>
                    @if (Model.stock == null)
                    {
                        <input value="" class="form-control" type="number" min="0" step="1" name="stock" maxlength="100" placeholder="Stok adeti" required="" style="border-block-color:red"  />
                    }
                    else
                    {
                        <input value="@Model.stock" class="form-control" type="number" min="0" step="1" name="stock" maxlength="100" placeholder="Stok adeti" required="" style="border-block-color:red"  />
                    }
                    <div class="clearfix"> </div>
                </div>
                <div class="clearfix"> </div>
                <br />
                <div align="center" class="sub_home">
                    <button type="submit" class="btn btn-primary" id="buttons">Kaydet</button>
                    <div class="clearfix"> </div>
                </div>
            </form>
        </div>
        <div class="card-footer">
            Gerekli alanları boş bırakmayın
        </div>
    </div>
</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(".tdrSil").click(function () {
        var sonuc = confirm("Kitap silinecek, işleme devam edilsinmi?");
        if (sonuc) {
            var tdrId = $(this).data("tdrid");
            $.ajax(
                {
                    type: "POST",
                    url: "/Admin/KitapSil/" + tdrId,
                    success: function () {
                        alert("Kitap başarıyla kaldırıldı.");
                        window.location.replace("/Admin/Kitaplar");
                    },
                    error: function () {
                        alert("Kitap kaldırılmaya çalışırken bir hata oluştu");
                    }
                });
        }

        else {
            alert("İşlem iptal edildi");

        }
    }
    );

</script>


