@{
    ViewBag.Title = "Home Page";
    Model m = new Model();
    int isAdm = 0;
    if(HttpContext.Current.User.Identity.Name != "")
    {
        isAdm = (int)m.users.FirstOrDefault(x => x.email == HttpContext.Current.User.Identity.Name).isAdmin;
    }

    //Kategoriler,yazarlar ve yayınevleri çekiliyor.
    List<genre> pd = m.genres.ToList();
    List<author> ad = m.authors.ToList();
    List<publisher> pb = m.publishers.ToList();

    List<SelectListItem> itemsP = new List<SelectListItem>();
    List<SelectListItem> itemsPa = new List<SelectListItem>();
    List<SelectListItem> itemsPb = new List<SelectListItem>();

    foreach (genre itemP in pd)
    {
        itemsP.Add(new SelectListItem { Text = itemP.gName, Value = itemP.id.ToString() });
    }
    ViewBag.Kats = itemsP;

    foreach (author itemPa in ad)
    {
        itemsPa.Add(new SelectListItem { Text = itemPa.aName, Value = itemPa.id.ToString() });
    }
    ViewBag.Auts = itemsPa;

    foreach (publisher itemPb in pb)
    {
        itemsPb.Add(new SelectListItem { Text = itemPb.pName, Value = itemPb.id.ToString() });
    }
    ViewBag.Publs = itemsPb;

}
@using BookStore.Models

<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="/bsfront/css/style.css">
    <link rel="icon" type="image/x-icon" href="/bsfront/image/favicon.ico">

    <title>Book Store</title>
    @RenderSection("head", false)
</head>
<body>
    <!-- header section -->
    <header class='header'>
        <div class="header-1">
            <a href="/Home/Index" class="logo" id=""><i class="fas fa-book" id=""></i> BookStore </a>

            <form action="/Home/FindBook" class="search-form" method="post">
                <input type="search" name="bookName" placeholder="Kitap arayın..." id="search-box">
                <label for="search-box" class="fas fa-search"></label>
                <button type="submit" class="hidden"></button>
            </form>
            <div class="icons">
                <ul class="navbar-nav media-right mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa fa-user"></i>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            @if (HttpContext.Current.User.Identity.Name != "")
                            {
                                <li><a class="dropdown-item" href="/User/Profil"><h4>Profilim</h4></a></li>
                                <li><a class="dropdown-item" href="/User/Orders"><h4>Siparişlerim</h4></a></li>
                                <li>
                                    <a class="dropdown-item" href="/User/MyCart">
                                        <h4>Sepetim <span class="badge alert-danger">@ViewBag.cartPrCount</span></h4>
                                    </a>
                                </li>
                                if (isAdm == 1)
                                {
                                    <li><a class="dropdown-item" href="/Admin/Index"><h4>Admin Panel</h4></a></li>
                                }
                                <li><a class="dropdown-item" href="/User/Logout"><h4>Çıkış</h4></a></li>
                            }
                            else
                            {
                                <li><a class="dropdown-item" href="/User/Login"><h4>Giriş yap</h4></a></li>
                                <li><a class="dropdown-item" href="/User/Register"><h4>Kayıt ol</h4></a></li>
                            }
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="header-2">
            <nav class="navbar">
                <a href="/Home/Index">Anasayfa</a>
                <a href="/Home/BestSellers">Öne Çıkan Kitaplar</a>
                <a href="/Home/NewArrivals">Yeni Çıkan Kitaplar</a>
            </nav>
        </div>

        @if (ViewBag.DoneMsg != null)
        {
            <div class="alert alert-success alert-dismissible">
                <h5><i class="icon fas fa-check"></i> Başarılı!</h5>
                @ViewBag.DoneMsg
            </div>
        }
        @if (ViewBag.FailMsg != null)
        {
            <br />
            <div class="alert alert-danger alert-dismissible">
                <h5><i class="icon fas fa-exclamation-triangle"></i> Hata!</h5>
                @ViewBag.FailMsg
            </div>
        }
        @if (ViewBag.Alert != null)
        {
            <div class="header-2" style="background-color:red;">
                <nav class="navbar">
                    <h4>@ViewBag.Alert</h4>
                </nav>
            </div>
        }
        @if (ViewBag.Done != null)
        {
            <div class="header-2" style="background-color:lawngreen;">
                <nav class="navbar">
                    <h4>@ViewBag.Done</h4>
                </nav>
            </div>
        }


    </header>
    <!-- botttom navbar-->

    <nav class="bottom-navbar">
        <a href="/Home/Index" class='fas fa-home'></a>
        <a href="/Home/BestSellers" class='fas fa-list'></a>
        <a href="/Home/NewArrivals" class='fas fa-tags'></a>
    </nav>

    <!-- /bottom navvbar-->

    @RenderBody()
    <hr />

    <!-- deal-->
    <section class="newsletter">
        <form action="/Home/FindBook" class="search-form" method="post" id="form__submit">
            <h3>Detaylı kitap arayın...</h3>
            <input type="text" name="bookName" placeholder="Kitap ismi.." class="box" id="bn_val">
            <input type="submit" value="Ara" class="btn">
        </form>
        
        <div class="right"><h3 style="color:white;">Ses ile kitap arayın</h3><button id="start_button" onclick="startButton(event)"><img alt="Start" id="start_img" src="https://www.hareketligifler.net/data/media/387/mikrofon-hareketli-resim-0026.gif"/></button></div>
        <div id="info">
            <p id="info_speak_now">Şimdi Konuşun.</p>

            <p id="info_no_speech">Konuşma algılanamadı. Mikrofon ayarlarınızı <a href="//support.google.com/chrome/bin/answer.py?hl=en&amp;answer=1407892"> incelemek için tıklayın</a>.</p>

            <p id="info_no_microphone" style="display:none">Mikrofon bulunamadı. Mikrofonunuzun aktif ve <a href="//support.google.com/chrome/bin/answer.py?hl=en&amp;answer=1407892"> ayarları</a> sorunsuz olduğundan emin olun.</p>

            <p id="info_allow"> &quot;Allow&quot; Butonuna tıklayarak mikrofonunuzu aktif edin.</p>

            <p id="info_denied">Mikrofonu kullanım izni rededildi.</p>

            <p id="info_blocked">Mikrofonu kullanım izni engellendi. Değiştirmek için, chrome://settings/contentExceptions#media-stream</p>

            <p id="info_upgrade">Web Speech API bu tarayıcıda desteklenmiyor. <a href="//www.google.com/chrome">Chrome</a> un 25 veya daha yüksek versiyonuna yükseltin.</p>
        </div>
        <div class="content">
            <p>&nbsp;</p>

            <div id="div_language" align="right"><select id="select_language" onchange="updateCountry()"></select> <select id="select_dialect"></select></div>
        </div>

        <div id="results" hidden="hidden">
            <span class="final" id="final_span"></span> <span class="interim" id="interim_span"></span>

            <p>&nbsp;</p>
        </div>

        <div class="center">
            <div class="sidebyside" style="text-align:right">
                <div class="info" id="copy_info">
                    Press Control-C to copy text.<br />
                    (Command-C on Mac.)
                </div>
            </div>

            <script>
                var langs =
                    [['Afrikaans', ['af-ZA']],
                    ['Bahasa Indonesia', ['id-ID']],
                    ['Bahasa Melayu', ['ms-MY']],
                    ['Català', ['ca-ES']],
                    ['Ceština', ['cs-CZ']],
                    ['Deutsch', ['de-DE']],
                    ['English', ['en-AU', 'Australia'],
                        ['en-CA', 'Canada'],
                        ['en-IN', 'India'],
                        ['en-NZ', 'New Zealand'],
                        ['en-ZA', 'South Africa'],
                        ['en-GB', 'United Kingdom'],
                        ['en-US', 'United States']],
                    ['Español', ['es-AR', 'Argentina'],
                        ['es-BO', 'Bolivia'],
                        ['es-CL', 'Chile'],
                        ['es-CO', 'Colombia'],
                        ['es-CR', 'Costa Rica'],
                        ['es-EC', 'Ecuador'],
                        ['es-SV', 'El Salvador'],
                        ['es-ES', 'España'],
                        ['es-US', 'Estados Unidos'],
                        ['es-GT', 'Guatemala'],
                        ['es-HN', 'Honduras'],
                        ['es-MX', 'México'],
                        ['es-NI', 'Nicaragua'],
                        ['es-PA', 'Panamá'],
                        ['es-PY', 'Paraguay'],
                        ['es-PE', 'Perú'],
                        ['es-PR', 'Puerto Rico'],
                        ['es-DO', 'República Dominicana'],
                        ['es-UY', 'Uruguay'],
                        ['es-VE', 'Venezuela']],
                    ['Euskara', ['eu-ES']],
                    ['Français', ['fr-FR']],
                    ['Galego', ['gl-ES']],
                    ['Hrvatski', ['hr_HR']],
                    ['IsiZulu', ['zu-ZA']],
                    ['Íslenska', ['is-IS']],
                    ['Italiano', ['it-IT', 'Italia'],
                        ['it-CH', 'Svizzera']],
                    ['Magyar', ['hu-HU']],
                    ['Nederlands', ['nl-NL']],
                    ['Norsk bokmål', ['nb-NO']],
                    ['Polski', ['pl-PL']],
                    ['Português', ['pt-BR', 'Brasil'],
                        ['pt-PT', 'Portugal']],
                    ['Româna', ['ro-RO']],
                    ['Slovencina', ['sk-SK']],
                    ['Suomi', ['fi-FI']],
                    ['Svenska', ['sv-SE']],
                    ['Türkçe', ['tr-TR']],
                    ['Lingua latina', ['la']]];
                for (var i = 0; i < langs.length; i++) {
                    select_language.options[i] = new Option(langs[i][0], i);
                }
                select_language.selectedIndex = 24;
                updateCountry();
                select_dialect.selectedIndex = 24;
                showInfo('info_start');
                function updateCountry() {
                    for (var i = select_dialect.options.length - 1; i >= 0; i--) {
                        select_dialect.remove(i);
                    }
                    var list = langs[select_language.selectedIndex];
                    for (var i = 1; i < list.length; i++) {
                        select_dialect.options.add(new Option(list[i][1], list[i][0]));
                    }
                    select_dialect.style.visibility = list[1].length == 1 ? 'hidden' : 'visible';
                }
                var create_email = false;
                var final_transcript = '';
                var recognizing = false;
                var ignore_onend;
                var start_timestamp;
                if (!('webkitSpeechRecognition' in window)) {
                    upgrade();
                } else {
                    start_button.style.display = 'inline-block';
                    var recognition = new webkitSpeechRecognition();
                    recognition.continuous = true;
                    recognition.interimResults = true;
                    recognition.onstart = function () {
                        recognizing = true;
                        showInfo('info_speak_now');
                        start_img.src = 'https://www.hareketligifler.net/data/media/387/mikrofon-hareketli-resim-0005.gif';
                    };
                    recognition.onerror = function (event) {
                        if (event.error == 'no-speech') {
                            start_img.src = 'https://www.hareketligifler.net/data/media/387/mikrofon-hareketli-resim-0026.gif';
                            showInfo('info_no_speech');
                            ignore_onend = true;
                        }
                        if (event.error == 'audio-capture') {
                            start_img.src = 'https://www.hareketligifler.net/data/media/387/mikrofon-hareketli-resim-0026.gif';
                            showInfo('info_no_microphone');
                            ignore_onend = true;
                        }
                        if (event.error == 'not-allowed') {
                            if (event.timeStamp - start_timestamp < 100) {
                                showInfo('info_blocked');
                            } else {
                                showInfo('info_denied');
                            }
                            ignore_onend = true;
                        }
                    };
                    recognition.onend = function () {
                        recognizing = false;
                        if (ignore_onend) {
                            return;
                        }
                        start_img.src = 'https://www.hareketligifler.net/data/media/387/mikrofon-hareketli-resim-0026.gif';
                        if (!final_transcript) {
                            showInfo('info_start');
                            return;
                        }
                        showInfo('');
                        if (window.getSelection) {
                            window.getSelection().removeAllRanges();
                            var range = document.createRange();
                            range.selectNode(document.getElementById('final_span'));
                            window.getSelection().addRange(range);
                        }
                    };
                    recognition.onresult = function (event) {
                        var interim_transcript = '';
                        for (var i = event.resultIndex; i < event.results.length; ++i) {

                            if (event.results[i].isFinal) {
                                final_transcript += event.results[i][0].transcript;

                            } else {
                                interim_transcript += event.results[i][0].transcript;
                            }
                        }
                        final_transcript = capitalize(final_transcript);
                        final_span.innerHTML = linebreak(final_transcript);
                        document.getElementById('bn_val').value = linebreak(final_transcript);
                        interim_span.innerHTML = linebreak(interim_transcript);
                        if (final_transcript || interim_transcript) {
                            showButtons('inline-block');
                        }
                    };
                }
                function upgrade() {
                    start_button.style.visibility = 'hidden';
                    showInfo('info_upgrade');
                }
                var two_line = /\n\n/g;
                var one_line = /\n/g;
                function linebreak(s) {
                    return s.replace(two_line, '<p></p>').replace(one_line, '<br>');
                }
                var first_char = /\S/;
                function capitalize(s) {
                    return s.replace(first_char, function (m) { return m.toUpperCase(); });
                }
                function copyButton() {
                    if (recognizing) {
                        recognizing = false;
                        recognition.stop();
                    }
                    copy_button.style.display = 'none';
                    copy_info.style.display = 'inline-block';
                    showInfo('');
                }
                function startButton(event) {
                    if (recognizing) {
                        recognition.stop();
                        return;
                    }
                    final_transcript = '';
                    recognition.lang = select_dialect.value;
                    recognition.start();
                    ignore_onend = false;
                    final_span.innerHTML = '';
                    document.getElementById('bn_val').value = "";
                    interim_span.innerHTML = '';
                    start_img.src = 'https://www.hareketligifler.net/data/media/387/mikrofon-hareketli-resim-0026.gif';
                    showInfo('info_allow');
                    showButtons('none');
                    start_timestamp = event.timeStamp;
                }
                function showInfo(s) {
                    if (s) {
                        for (var child = info.firstChild; child; child = child.nextSibling) {
                            if (child.style) {
                                child.style.display = child.id == s ? 'inline' : 'none';
                            }
                        }
                        info.style.visibility = 'visible';
                    } else {
                        info.style.visibility = 'hidden';
                    }
                }
                var current_style;
                function showButtons(style) {
                    if (style == current_style) {
                        return;
                    }
                    current_style = style;
                    copy_button.style.display = style;
                    copy_info.style.display = 'none';
                }
            </script>
        </div>
        <style type="text/css">
            * {
                font-family: Verdana, Arial, sans-serif;
            }

            a:link {
                color: #000;
                text-decoration: none;
            }

            a:visited {
                color: #000;
            }

            a:hover {
                color: #33F;
            }

            .button {
                background: -webkit-linear-gradient(top,#008dfd 0,#0370ea 100%);
                border: 1px solid #076bd2;
                border-radius: 3px;
                color: #fff;
                display: none;
                font-size: 13px;
                font-weight: bold;
                line-height: 1.3;
                padding: 8px 25px;
                text-align: center;
                text-shadow: 1px 1px 1px #076bd2;
                letter-spacing: normal;
            }

            .center {
                padding: 10px;
                text-align: center;
            }

            .final {
                color: black;
                padding-right: 3px;
            }

            .interim {
                color: gray;
            }

            .info {
                font-size: 14px;
                text-align: center;
                color: #777;
                display: none;
            }

            .right {
                float: right;
            }

            .sidebyside {
                display: inline-block;
                width: 45%;
                min-height: 40px;
                text-align: left;
                vertical-align: top;
            }

            #headline {
                font-size: 40px;
                font-weight: 300;
            }

            #info {
                font-size: 20px;
                text-align: center;
                color: white;
                visibility: hidden;
            }

            #results {
                font-size: 14px;
                font-weight: bold;
                border: 1px solid #ddd;
                padding: 15px;
                text-align: left;
                min-height: 150px;
                background-color: white;
            }

            #start_button {
                border: 0;
                background-color: transparent;
                padding: 0;
            }
        </style>
    </section>

    <section class="icons-container">
        <div class="icons">
            <i class="fas fa-plane"></i>
            <div class="content">
                <h3>Ücretsiz Teslimat</h3>
                <p>Her satın alımlarınızda</p>
            </div>
        </div>

        <div class="icons">
            <i class="fas fa-lock"></i>
            <div class="content">
                <h3>Güvenli Ödeme</h3>
                <p>%100 Güvenli Ödeme</p>
            </div>
        </div>

        <div class="icons">
            <i class="fas fa-redo-alt"></i>
            <div class="content">
                <h3>Kolay İade</h3>
                <p>15 gün iade garantisi</p>
            </div>
        </div>

        <div class="icons">
            <i class="fas fa-headset"></i>
            <div class="content">
                <h3>7/24 Destek</h3>
                <p>7/24 müşteri desteği</p>
            </div>
        </div>
    </section>

    <section class="deal">
        <div class="content">
            <h3>Book store</h3>
            <h1>Türler ve yayınevleri</h1>
            <p>Farklı kitapları incelemek için kategori ve yayınevine göre filtrelemeyi deneyin.</p>
            <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Kategoriler
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                @for (int i = 0; i < ViewBag.Kats.Count; i++)
                {
                    <li><a class="dropdown-item" href="/Home/FindKat?id=@ViewBag.Kats[i].Value">@ViewBag.Kats[i].Text</a></li>
                }
            </ul>
            <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Yazarlar
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                @for (int i = 0; i < ViewBag.Auts.Count; i++)
                {
                    <li><a class="dropdown-item" href="/Author/Detail?id=@ViewBag.Auts[i].Value">@ViewBag.Auts[i].Text</a></li>
                }
            </ul>
            <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Yayınevleri
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                @for (int i = 0; i < ViewBag.Publs.Count; i++)
                {
                    <li><a class="dropdown-item" href="/Home/FindPubls?id=@ViewBag.Publs[i].Value">@ViewBag.Publs[i].Text</a></li>
                }
            </ul>
        </div>
        <div class="image">
            <img src="/bsfront/image/deal-img.jpg" alt="" style="width:100%;">
        </div>
    </section>

    <br />
    <footer>
        <div class="credit" align="center"><h4><span>&copy; @DateTime.Now.Year - Book Store</span> | <a href="/Home/Terms">Tüm Hakları</a> Saklıdır. </h4></div>
    </footer>
    @RenderSection("body", false)
    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
    <script src="/bsfront/js/script.js"></script>
    <script src="https://kit.fontawesome.com/91a465bebf.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    @RenderSection("scripts", false)
</body>
</html>
